<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techbros.mycoinsTest">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_GRANT_RUNTIME_PERMISSIONS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCoins">
        <activity
            android:name="com.techbros.mycoinsTest.NoInternet"
            android:exported="false"
            android:label="@string/title_activity_no_internet"
            android:theme="@style/Theme.MyCoins.NoActionBar" />
        <activity
            android:name="com.techbros.mycoinsTest.DeleteData"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Feedback"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Dashboard"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Backend"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.VendorMain"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.LocationAdmin"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.ResetPassword"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Reports"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Encash"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.EmployeeAddDeleteUpdate"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Payment"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.ScanBarCodeActivity"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.HomeVendor"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.SuperAdminDashboard"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Home"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.Login"
            android:exported="false" />
        <activity
            android:name="com.techbros.mycoinsTest.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>